.container {
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-right: 76px;
        padding-left: 76px;
    }

    @media screen and (min-width: 1024px) {
        width: 1024px;
        padding-right: 71px;
        padding-left: 71px;
    }
}