:root {

    /* шрифт */

    --text-main: 'Roboto', sans-serif;

    /* Кольори */

    /* Хедер */
    --primary-text-header-color: #FFFFFF;
    --accent-header-color: #FF6B08;
    --error-text-header-color: #FF001B;
    --input-line-header-color: #FFFFFF;
    --accent-button-header-color: #FF6B01;
    --logo-fill: #818181;
    --header-background-color: #000000;

    /* Основна сторінка */
    --movie-title-color: #8C8C8C;
    --color-genre: #FF6B08;
    --color-year: #FF6B08;
    --color-rating: #FF6B01;

    /* Пагінація */
    --page-text-color: #8C8C8C;
    --arrow-background-color: #F7F7F7;
    --current-page-background-color: #FF6B08;

    /* Футер */
    --footer-text-color: #8C8C8C;
    --footer-heart-color: #FF6B08;
    --footer-background-color: #F7F7F7;

    /* Карточка одного фільма (модалка) */
    --backdrop-color: #000000;
    --primary-color-text-modal: #8C8C8C;
    --secondary-color-text-modal: #8C8C8C;
    --accent-background-color-button-modal: #FF6B01;
    --accent-color-text-button-modal: #FFFFFF;
    --modal-close-icon: #8C8C8C;

    // Модалка аутентифікації

    --accent-input-color: #FF6B01;
}