<div class="auth-modal backdrop visually-hidden">
    <h1 class="section-title visually-hidden">Team modal-window</h1>
    <div class="modal-container">
        <button type="button" class="auth-modal-close">
            <svg class="auth-close__icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <div class="form-field">
            <b class="form-title">Log in</b>

            <label class="form-label">Name
                <span class="form-wrapper">
                    <input class="form-input" type="text" id="name">
                </span>
            </label>
            <label class="form-label">Email
                <span class="form-wrapper">
                    <input class="form-input" type="email" id="email">
                </span>
            </label>
            <label class="form-label">Password
                <span class="form-wrapper">
                    <input class="form-input" type="tel" id="pass">
                </span>
            </label>

        </div id="button-conteiner">
        <button class="modal__button " id="login">Log in</button>
        <button class="modal__button " id="register">Register</button>
        <button class="modal__button " id="sub">Submit</button>
    </div>
</div>
</div>