<!-- футер -->

<footer class="footer-container">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-left">
                <p class="footer-year"><span class="footer-copyright">&#169</span> 2021</p>
                <div class="footer-left">
                    <p class="footer-rights-text">All Rights Reserved</p>
                </div>
            </div>
            <div class="footer-right">
                <p>Developed with</p>
                <svg class="footer-icon">
                    <use href="./images/sprite.svg#icon-heart"></use>
                </svg>
                <p>by</p>
                <a class="link-footer" href="#">GoIT Students</a>
            </div>
        </div>
    </div>
</footer>