<header class="header header__background">
    <div class="container">
        <!-- навігація і логотип -->
        <nav class="navigation">
            <a class="logo" href="">
                <div class="wrapper-logo">
                    <svg class="logo-icon">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
                    <span class="logo-text">Filmoteka</span>
                </div>
            </a>

            <ul class="list navigation__list">
                <li class="navigation__list-item">
                    <!-- <a class="link navigation-link current-link" id="home" href="">Home</a> -->
                    <button class="navigation-link current-link" type="button" id="home">Home</button
        </li>
        <li class="navigation__list-link">
          <!-- <a class="link navigation-link" id="library" href="">My library</a> -->
          <button class="navigation-link" type="button" id="library">My library</button
        </li>
      </ul>
    </nav>
    <!-- форма пошуку -->
    <div class="search-wrapper">
      <form class="search-form">
        <input
          class="search-input"
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Search movies..."
        />
        <button class="search-button" type="submit">
          <svg class="search-icon">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
                    <!-- попередження -->
                    <div class="warning is-hidden">Search result not successful. Enter the correct movie name</div>
                    </form>
    </div>

    <!-- кнопки в My library
клас для активної кнопки
active-btn -->
    <div class="buttons visually-hidden">
        <button class="button_library" type="button">Watched</button
      ><button class="button_library" type="button">Queue</button>
    </div>
    </div>
</header>