<div class="backdrop visually-hidden">
    <div class="modal">
        <button type="button" class="modal__close-button" data-action="close-modal">
            <svg class="modal__close-icon" height=30px>
                <use href="/images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <!-- <div class="modal__container">
            <img src="/images/background/my-library-mobile.jpg" alt="Постер фільму" class="modal__img">

            <div class="modal__info-container">
                <h2 class="modal__title-film">A FISTFUL OF LEAD</h2>
                <table class="modal__info">
                    <tr>
                        <td class="modal__info-category">Vote / Votes</td>
                        <td class="modal__info-value"><span class="modal__vote">7.3</span><span
                                class="modal__slash">/</span><span class="modal__votes">1260</span></td>
                    </tr>
                    <tr>
                        <td class="modal__info-category">Popularity</td>
                        <td class="modal__info-value">100.2</td>
                    </tr>
                    <tr>
                        <td class="modal__info-category">Original Title</td>
                        <td class="modal__info-value">A FISTFUL OF LEAD</td>
                    </tr>
                    <tr>
                        <td class="modal__info-category">Genre</td>
                        <td class="modal__info-value">Western</td>
                    </tr>
                </table>
                <p class="modal__title-about">About</p>
                <p class="modal__article-about-movie">Four of the West’s most infamous outlaws assemble to steal a huge
                    stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one
                    is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where
                    they happen across another gang of three – who themselves were planning to hit the very same bank!
                    As tensions rise, things go from bad to worse as they realise the bags of gold are filled with
                    lead... they’ve been double crossed – but by who and how?</p>
                <div class="modal__button-container">
                    <button type="submit" class="modal__button" id="auth-delete-js">ADD TO WATCHED</button>
                    <button type="submit" class="modal__button" id="auth-add-js">ADD TO QUEUE</button>
                </div>
            </div> 
        </div>-->
                        <!-- <div class="modal__button-container">
                            <button type="submit" class="modal__button" id="add-watched-js">ADD TO WATCHED</button>
                            <button type="submit" class="modal__button" id="add-queue-js">ADD TO QUEUE</button>
                        </div> -->

    </div>
</div>