<div class="pagination">
    <button class="start-page">
    <svg class="double-left-btn" width="16" height="16">
      <use href="./images/sprite.svg#double-left-arrow"></use>
    </svg>
  </button>
    <button class="prev-page">
    <svg class="left-btn" width="16" height="16">
      <use href="./images/sprite.svg#left-arrow"></use>
    </svg>
  </button>
    <span class="current-page">1</span>
    <button class="next-page">
    <svg class="right-btn" width="16" height="16">
      <use href="./images/sprite.svg#right-arrow"></use>
    </svg>
  </button>
    <button class="last-page">
    <svg class="double-right-btn" width="16" height="16">
      <use href="./images/sprite.svg#double-right-arrow"></use>
    </svg>
  </button>
</div>