<main>
<section>
<h1 class="visually-hidden">Movie library</h1>
    <div class="container">
<ul class="films__gallery">
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li><li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
    <li class="films__gallery-list">
        <div><img src="/images/background/home-mobile.jpg" alt="test"></div>
    </li>
</ul>

    </div>
</section>

</main>