<main>
  <section class="section">
    <h1 class="visually-hidden">Movie library</h1>
    <div class="container">
      <ul class="films-gallery" data-gallery>
        <!-- <li class="films-gallery__item">
          <a href="#!" class="films-gallery__link gallery-card">
            <div class="gallery-card__image">
              <img src="#!" alt="test" />
            </div>
            <div class="gallery-card__container">
              <p class="gallery-card__title">ONCE UPON A TIME... IN HOLLYWOOD</p>
              <p class="gallery-card__text">Drama, Comedy | 2019</p>
            </div>
          </a>
        </li> -->
      </ul>
    </div>
  </section>
</main>
