<main>
<section class="movie-gallery">
<h1 class="visually-hidden">Movie library</h1>
    <div class="container">
<ul class="films__gallery">



<!-- одна картка з фільмом -->

<li class='gallery-items films__gallery-list'>
<!-- постер -->
    <div class='moviе-item__img'>
      
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/oC99S48DmwyPHa0rNmTsvbNj6Si.jpg" alt="назва фільму">
    </div>
<!-- обгортка інформації під постером -->
    <div class='moviе-stats'>
        <h2 class='moviе-stats__title'>НАЗВА ФІЛЬМУ</h2>
        <div class='moviе-stats__info'>
    <!-- список жанрів -->
            <ul class='moviе-genre'>
                <li class='moviе-genre__item'>ЖАНР ФІЛЬМУ
                </li>
            </ul>
 <!-- дата виходу та рейтинг -->
            <p class='moviе-year'>2022
            </p>
            <!-- рейтинг -->
            <p class='moviе-vote'>
                8.0
            </p>
        </div>
    </div>

</li>
   


</ul>

    </div>
</section>

</main>