<div class="modal-team backdrop visually-hidden">
    <h1 class="section-title visually-hidden">Team modal-window</h1>
    <div class="modal-container">
        <button type="button" class="btn-modal-close">
            <svg class="btn-close__icon" width="16" height="16" style="fill: black">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal__title">Project-3</h2>

        <ul class="team__list list">
            <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer"
                    href="https://github.com/IhorBaer">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/IB.jpeg" alt="Ihor Baierzdorf" />
                        <div class="team__info overlay">
                            <p class="team__name">Ihor Baierzdorf</p>
                            <p class="team__position">Team Leader</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer"
                    href="https://github.com/Extractoro">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/VT.jpeg" alt="Vadim Titarenko" />
                        <div class="team__info overlay">
                            <p class="team__name">Vadim Titarenko</p>
                            <p class="team__position">Developer</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer" href="https://github.com/AnnaLuniushkina">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/IB.jpeg" alt="Anna Luniushkina" />
                        <div class="team__info overlay">
                            <p class="team__name">Anna Luniushkina</p>
                            <p class="team__position">Developer</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer"
                    href="https://github.com/Ltdowl">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/O.jpeg" alt="Aleksandr Koziuk" />
                        <div class="team__info overlay">
                            <p class="team__name">Aleksandr Koziuk</p>
                            <p class="team__position">Developer</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer"
                    href="https://github.com/PetroTkach">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/PT.jpg"
                            alt="Petro Tkach" />
                        <div class="team__info overlay">
                            <p class="team__name">Petro Tkach</p>
                            <p class="team__position">Developer</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer"
                    href="https://github.com/StanislavKuchma">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/SK.jpeg" alt="Stanislav Kuchma" />
                        <div class="team__info overlay">
                            <p class="team__name">Stanislav Kuchma</p>
                            <p class="team__position">Developer</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer"
                    href="https://github.com/tsherkavskaAnna">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/AT.jpeg" alt="Anna Tsherkavska" />
                        <div class="team__info overlay">
                            <p class="team__name">Anna Tsherkavska</p>
                            <p class="team__position">Developer</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer" href="https://github.com/VadymMelnyk21">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/VM.jpeg" alt="Vadym Melnyk" />
                        <div class="team__info overlay">
                            <p class="team__name">Vadym Melnyk</p>
                            <p class="team__position">Developer</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer" href="https://github.com/ValeriiArt">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/VA.jpeg" alt="Valerii Artemenko" />
                        <div class="team__info overlay">
                            <p class="team__name">Valerii Artemenco</p>
                            <p class="team__position">Developer</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer" href="https://github.com/Iryna-Moiseieva">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/IM.jpeg" alt="Iryna Moiseieva" />
                        <div class="team__info overlay">
                            <p class="team__name">Iryna Moiseieva</p>
                            <p class="team__position">Scrum Master</p>
                        </div>
                    </div>
                </a>
            </li>
            <!-- <li class="team__item">
                <a class="team__link link" target="_blank" rel="noopener noreferrer" href="https://goit.ua">
                    <div class="img-wrapper">
                        <img class="team__img" src="./images/team/IB.jpeg" alt="GoIt" />
                    </div>
                </a>
            </li> -->
        </ul>
    </div>
</div>