.form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.auth-modal-container {
    max-width: 350px;
    min-height: 380px;
    padding-right: 15px;
    padding-left: 15px;

    @media screen and (min-width: 768px) {
            min-width: 390px;
            min-height: 400px;
            padding-right: 20px;
            padding-left: 20px;
        }

    @media screen and (min-width: 1024px) {
        min-width: 430px;
        min-height: 450px;
        padding-right: 30px;
        padding-left: 30px;
        }
}

.form-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    letter-spacing: 0.03em;

    color: var(--text--color);
    margin-bottom: 20px;
}

.form-policy {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.form-comment {
    padding: 12px 16px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 4px;
    resize: none;
    transition: border-color 250ms var(--time--animation);

    &:focus {
        outline: none;
        border-color: var(--accent--color);
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}

.form-checkbox-label {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    margin-bottom: 30px;
}


.form-field {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 15px;
    line-height: 1.71;
    letter-spacing: 0.01em;
}

.form-label+.form-label {
    margin-top: 10px;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    font-size: 15px;
    line-height: 1.71;

    border-radius: 4px;

    padding-left: 42px;
    transition: border-color 250ms var(--time--animation);

    &:focus {
        outline: none;
        border-color: var(--accent-input-color);
    }
}

.form-button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.form-icon {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    .form-input:focus~& {
        fill: var(--accent--color);
        transition: fill 250ms var(--time--animation);
    }
}

.form-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
}

.auth-modal-close {
    border: transparent;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    width: 30px;
    height: 30px;

    position: absolute;
    top: 8px;
    right: 8px;
    margin-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.auth-close__icon {
    fill: #000000;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: #FF6B01;
    }
}

.auth-btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
            margin-top: 40px;
        }
    
    @media screen and (min-width: 1024px) {
            margin-top: 50px;
        }
}

.modal__button:not(:last-child) {
    margin-right: 15px;
} 
