.backdrop {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;

    &.visually-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}