.modal-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    position: absolute;
    z-index: 10;

    top: 50%;
    left: 50%;
    min-height: 347px;
    width: 300px;
    background-color: #fff;
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 0 10px 0;

    .backdrop .backdrop.visually-hidden & {
        transform: translate(-50%, -50%);
    }

    @media screen and (min-width: 768px) {
        width: 520px;
        top: 50%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 25px;
    }

    @media screen and (min-width: 1024px) {
        width: 600px;
        transform: translate(-50%, -50%) scale(0.8);
    }
}

.btn-modal-close {
    position: absolute;
    top: 13px;
    right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: contain;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
}

.btn-close__icon {
    fill: black;
}

.modal__title {
    display: flex;
    font-family: Roboto;
    color: black;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;

    justify-content: center;

    //   margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        font-size: 30px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 33px;
        margin-bottom: 30px;
    }
}

.team__img {
    width: 100px;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        width: 140px;
    }

    @media screen and (min-width: 1024px) {
        width: 180px;
    }
}

.team__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 5px;

}

.img-wrapper {
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 10px;
    color: black;
    background-color: rgb(100%, 100%, 100%, 0.4);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .team__item:hover &,
    .team__item:focus & {
        transform: translateY(0);
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1024px) {}
}

.team__name {
    color: black;
    font-size: 10px;
    font-weight: 500;

    @media screen and (min-width: 768px) {
        font-size: 17px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 23px;
    }
}

.team__position {
    color: black;
    font-size: 9px;

    @media screen and (min-width: 768px) {
        font-size: 12px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 16px;
    }
}

// список
.team__list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }
}

.team__item {
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-basis: calc((100% - 60px) / 3);

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 90px) / 3);
        margin-left: 30px;
        margin-top: 30px;
    }

    @media screen and (min-width: 1024px) {
        flex-basis: calc((100% - 90px) / 3);
    }

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}