.gallery-card__image {
    height: 398px;
    border-radius: 5px;
    background-color: antiquewhite;
    margin-bottom: 10px;
}

.gallery-card__title,
.gallery-card__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
}
.gallery-card__title{
color: #000;
text-transform: uppercase;
}

.gallery-card__text {
    color: #FF6B08;
}