// ОБГОРТКА ПОСТЕРУ
.moviе-item__img-container {
    border-radius: 5px;
    overflow: hidden;
    height: 402px;
    @media screen and (min-width: 768px) {
        height: 455px;
    }
    @media screen and (min-width: 1024px) {
        height: 450px;
    }
}

.moviе-item__img {
    // border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

// ОБГОРТКА ІНФОРМАЦІЇ ПІД ПОСТЕРОМ
.moviе-stats {
    padding: 10px;
}

// ЗАГОЛОВОК ФіЛЬМУ
.moviе-stats__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.667;
    text-transform: uppercase;
    color: var(--movie-title-color);
}

.moviе-stats__info {
    display: flex;
}

.moviе-genre {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-right: 8px;
    color: var(--color-genre);
}

.moviе-year {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-right: 8px;
    color: var(--color-year);
}

.moviе-vote {
    margin-left: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    color: var(--primary-text-header-color);
    background-color: var(--accent-header-color);
    padding: 0 10px;
}

.list-card__link {
    display: block;
    border-radius: 0 0 10px 10px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        transform: scale(1.01);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}