

.footer-container {
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: var(--footer-background-color);
    padding-top: 29px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--footer-text-color);
}

.footer-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-icon {
    position: relative;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 14px;
    width: 16px;
    fill: var(--footer-heart-color);
    animation: heartbeat .75s infinite;
    };
    
    @keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    
    20% {
        transform: scale(1.25);
    }
    
    40% {
        transform: scale(1.5);
    }
}

.footer-left {
    position: relative;
    display: flex;
    margin-bottom: 5px;
}

.footer-right {
    display: flex;
    text-align: center;
}

.link-footer {
    position: relative;
    color: var(--footer-text-color);
    margin-left: 5px;
}



.footer-copyright,
.footer-year {
    margin-right: 6px;
}

.footer-rights-text {
    margin-left: 6px;
    margin-right: 6px;
}

.footer-rights-text::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;

    height: 100%;
    width: 1px;

    background-color: var(--footer-text-color);
    opacity: 0.4;
}

.footer-rights-text::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 1px;

    background-color: var(--footer-text-color);
    opacity: 0.4;
}

.link-footer::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1px;
    width: 100%;
    background-color: var(--footer-text-color);
    opacity: 0.4;
}

.link-footer {
    cursor: pointer;
}

@media screen and (min-width: 320px) {
    .footer-about-information {
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
        padding-top: 30px;
        padding-bottom: 28px;
        font-size: 16px;
        line-height: 19px;
    }

    .footer-wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer-left {
        margin-bottom: 0px;
    }

    .footer-right {
        margin-left: 6px;
    }
}