.header {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 230px;
    position: relative;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        height: 215px;
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

.header__background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/images/background/home-mobile.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 320px;
    background-color: var(--movie-title-color);
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('/images/background/home-mobile@2x.jpg');
    }

    @media screen and (min-width: 360px) {
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('/images/background/home-tablet.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                url('/images/background/home-tablet@2x.jpg');
        }
    }

    @media screen and (min-width: 768px) {

        background-size: 1024px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('/images/background/home-desktop.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                url('/images/background/home-desktop@2x.jpg');
        }
    }
}

.header__background-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/images/background/my-library-mobile.jpg');
    width: 100%;
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--movie-title-color);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('/images/background/my-library-mobile@2x.jpg');
    }

    @media screen and (min-width: 360px) {
        background-size: cover;

        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('/images/background/my-library-tablet.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                url('/images/background/my-library-tablet@2x.jpg');
        }
    }

    @media screen and (min-width: 768px) {
        background-size: 1024px;

        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('/images/background/my-library-desktop.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                url('/images/background/my-library-desktop@2x.jpg');
        }
    }
}

.search-wrapper {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 280px;
    height: 24px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 20px;
    color: var(--input-line-header-color);
    border-bottom: 0.5px solid var(--input-line-header-color);

    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        width: 336px;
    }
    
    &:focus,
    &:hover{
        border-bottom: 0.5px solid var(--accent-header-color);
    }
}

.search-control::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    color: var(--primary-text-header-color);
}

.search-form {
    position: relative;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 5px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}


.warning {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--error-text-header-color);
    position: absolute;
    margin-top: 22px;
    width: 280px;

    @media screen and (min-width: 768px) {
        width: 390px;
    }
}

.logo-icon {
    stroke: var(--logo-fill);
    width: 24px;
    height: 24px;

    @media screen and (min-width: 768px) {
        margin-right: 10px;
    }
}

.search-icon {
    width: 12px;
    height: 12px;
    &:hover,
        &:focus {
           stroke: var(--accent-header-color);
        }
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    align-items: center;

    @media screen and (min-width: 768px) {
        margin-bottom: 27px;
    }
}

.logo {
    // outline: none;

}
.wrapper-logo {
padding: 5px 0;
    
}


.logo-text {
    font-size: 30px;
    line-height: 1.16px;
    color: var(--primary-text-header-color);

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.navigation__list {
    display: flex;
}

.navigation__list :not(:first-child) {
    margin-left: 39px;
}

.navigation-link {
    position: relative;
    font-size: 12px;
    line-height: 1.16px;
    height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-text-header-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
       outline: 1px solid;
    }
}
.current-link {
  pointer-events: none;
}
.current-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: var(--accent-header-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
        &:focus {
        background-color: var(--accent-header-color);
        }
}



// кнопки
.buttons {
    // display: flex;
    // justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.button_library {
    // width: 130px;
    // height: 44px;
    padding: 14px 30px;
    min-width: 130px;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    cursor: pointer;
    font-size: var(--main-text-size);
    line-height: 1.14;
    text-transform: var(--text-big-letters);
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--primary-text-header-color);
    outline: none;
    color: var(--primary-text-header-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: var(--accent-header-color);
        border-color: var(--accent-header-color);
    }

    @media screen and (min-width: 768px) {
        min-width: 152px;
    }

    @media screen and (min-width: 768px) {
        min-width: 148px;
    }

}

.button_library:not(:last-child) {
    margin-right: 18px;
}

// клас для активної кнопки
.active-btn {
    background-color: var(--accent-button-header-color);
    border-color: var(--accent-button-header-color);
}
