body.modal-open {
    overflow: hidden;
}

.modal {
    position: absolute;
    width: 280px;
    min-height: 940px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    top: 5%;
    left: 50%;
    transform: translate(-50%);
    padding: 50px 20px 40px 20px;

    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.visually-hidden & {
            transform: translate(-50%, -50%);
        }

    @media screen and (min-width: 768px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        width: 704px;
        min-height: 552px;
        padding: 40px 70px 40px 40px;
    }

    @media screen and (min-width: 1024px) {
        width: 814px;
        min-height: 558px;
        padding: 40px 20px 40px 20px;
        transform: translate(-50%, -50%) scale(0.8);
    }
}

.modal__close-button {
    border: transparent;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    width: 30px;
    height: 30px;

    position: absolute;
    top: 8px;
    right: 8px;
    margin-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__close-icon {
    fill: #000000;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__close-button:hover &,
    :focus & {
        fill: var(--accent-background-color-button-modal);
    }
}

.modal__container {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.modal__img {
    border-radius: 5px;
    width: 240px;
    height: 357px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        width: 264px;
        height: 374px;
        margin-right: 70px;
    }

    @media screen and (min-width: 1024px) {
        width: 375px;
        height: 478px;
        margin-right: 16px;
    }
}

.modal__title-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;

    margin-bottom: 20px;

    color: var(--primary-color-text-modal);

    @media screen and (min-width: 1024px) {
        font-size: 30px;
        line-height: 1.16;
    }
}

.modal__info {
    margin-bottom: 12px;
}

table td {
    padding-bottom: 8px;
}

.modal__info-category {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    color: var(--secondary-color-text-modal);
}

.modal__info-value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;

    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 40px;

    color: var(--primary-color-text-modal);
}

.modal__vote {
    text-align: center;
    text-transform: uppercase;
    padding: 1px 0px 1px 0px;

    width: 36px;
    height: 16px;
    border-radius: 5px;

    background-color: var(--accent-background-color-button-modal);
    color: var(--accent-color-text-button-modal);
}

.modal__slash {
    font-size: 12px;
    line-height: 1.33;
    margin-right: 5px;
    margin-left: 5px;

    color: var(--secondary-color-text-modal);
}

.modal__votes {
    width: 36px;
    height: 16px;
    padding: 1px 0px 1px 0px;
    border-radius: 5px;
    background-color: #F7F7F7;
    text-align: center;
}

.modal__title-about {
    margin-bottom: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: var(--primary-color-text-modal);
}

.modal__article-about-movie {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;

    color: var(--primary-color-text-modal);
}

.modal__button-container {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 1024px) {
        justify-content: start;
    }
}

.modal__button {
    width: 110px;
    min-height: 44px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    text-transform: uppercase;
    cursor: pointer;

    border: 1px solid #000000;
    border-radius: 5px;
    color: var(--primary-color-text-modal);
    background-color: transparent;

    &:hover,
    &:focus {
        border: transparent;
        background-color: var(--accent-background-color-button-modal);
        color: var(--accent-color-text-button-modal);
    }

    @media screen and (min-width: 768px) {
        width: 125px;
        height: 40px;
    }

    @media screen and (min-width: 1024px) {
        width: 136px;
        height: 44px;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}