.films-gallery {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -32px;
        margin-bottom: -32px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: -16px;
        margin-bottom: -16px;
    }
}

.films-gallery__item+.films-gallery__item {
    @media screen and (max-width: 767px) {
        margin-top: 20px;
    }
}

.films-gallery__item {
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 32px);
        margin-left: 32px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1024px) {
        flex-basis: calc(100% / 3 - 16px);
        margin-left: 16px;
        margin-bottom: 16px;
    }
}

