// розміщення секції з фільмами

.movie-gallery {
    padding-top: 20px;
    padding-bottom: 140px;

    @media screen and (min-width: 768px) {
        padding-top: 10px;
        padding-bottom: 127px;
    }
}


.films__gallery {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-bottom: -15px;
    }
}

.films__gallery-list {
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 15px);
        margin-left: 15px;
        margin-bottom: 15px;
    }

    @media screen and (min-width: 1024px) {
        flex-basis: calc(100% / 3 - 15px);
    }
}






.films__gallery-list+.films__gallery-list {
    @media screen and (max-width: 767px) {
        margin-top: 15px;
    }
}