// розміщення секції з фільмами

.movie-gallery {
    padding-top: 20px;
    padding-bottom: 40px;
    
    
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


.films__gallery {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -32px;
        margin-bottom: -32px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: -16px;
    }
}

.films__gallery-item+.films__gallery-item {
    @media screen and (max-width: 767px) {
        margin-top: 20px;
    }
}

.films__gallery-item {
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 32px);
        margin-left: 32px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1024px) {
        flex-basis: calc(100% / 3 - 16px);
        margin-left: 16px;
    }
}

.ship{
    width: 100%;

    @media screen and (min-width: 768px) {
            margin-left: 32px;
            margin-bottom: 32px;
        }
    
        @media screen and (min-width: 1024px) {
            margin-left: 16px;
        }
}

.ship__div{
    width: 280px;
    height: 176px;
    margin: 0 auto;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url('/images/ship/ship-mobile.jpg');
    
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/images/ship/ship-mobile@2x.jpg');
        }

    @media screen and (min-width: 768px) {
        width: 600px;
        height: 378px;

        background-image: url('/images/ship/ship-tablet.jpg');
        
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('/images/ship/ship-tablet@2x.jpg');
        }
    }

    @media screen and (min-width: 1024px) {
        width: 874px;
        height: 550px;

        background-image: url('/images/ship/ship-desktop.jpg');
        
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('/images/ship/ship-desktop@2x.jpg');
        }
    }
}

.login-tex{
    margin-bottom: 20px;
    text-align: center;
    color: var(--error-text-header-color);
    text-transform: uppercase;
    font-size: 20px;
}

// темна тема

.theme {
    position: fixed;
    left: 15px;
    top: 270px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.theme svg {
    cursor: pointer;
}